@import 'variables';

.header{
    width:100%;
    left:0;
    padding:20px 0;
    position:absolute;
    top:0;
    z-index:1;
    .row{
        align-items:center;
        display:flex;
        justify-content:space-between;
        @media only screen and (max-width:768px){
            justify-content:initial;
        }
        .logo{
            display:block;
            svg{
                fill:$color-2;
                height:30px;
                @media only screen and (max-width:768px){
                    height:23px;
                }
                path{
                    &.path-1{
                        fill:$color-1;
                    }
                }
            }
        }
        .nav--menu{
            margin:0 0 0 auto;
            @media only screen and (max-width:768px){
                display:none;
            }
            .list--menu{
                align-items:center;
                display:flex;
                >.item{
                    &:hover{
                        .list--drop{
                            opacity:1;
                            visibility:visible;
                        }
                    }
                    >a{
                        color:$color-2;
                        display:block;
                        font-family:$font-primary;
                        font-weight:700;
                        letter-spacing:.2px;
                        padding:20px;
                        text-transform:uppercase;
                        transition:color $transition;
                        svg{
                            fill:$color-2;
                            height:18px;
                            transition:fill $transition;
                        }
                    }
                    .list--drop{
                        background-color:$white;
                        border-radius:8px;
                        box-shadow:0 8px 16px -8px rgba(0,0,0,.5);
                        opacity:0;
                        padding:20px;
                        position:absolute;
                        top:100%;
                        transition:opacity $transition,visibility $transition;
                        visibility:hidden;
                        >.item{
                            margin:0 0 20px 0;
                            &:last-of-type{
                                margin:0;
                            }
                            &:hover{
                                >a{
                                    color:$color-1;
                                }
                            }
                            >a{
                                display:inline-block;
                                font-size:16px;
                                letter-spacing:-.4px;
                                transition:color $transition;
                            }
                        }
                    }
                }
            }
        }
        .nav--bar{
            cursor:pointer;
            display:none;
            width:30px;
            margin:0 0 0 auto;
            @media only screen and (max-width:768px){
                display:block;
            }
            &.is--open{
                .bar{
                    &.bar--1{
                        opacity:0;
                    }
                    &.bar--2{
                        transform:rotate(40deg);
                    }
                    &.bar--3{
                        transform:translate(0,-6px) rotate(-40deg);
                    }
                }
            }
            .bar{
                background-color:$color-3;
                float:left;
                height:2px;
                width:100%;
                margin:2px 0;
                transition:opacity $transition,transform $transition;
            }
        }
    }
}