@import 'variables';

*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	&:focus{
		outline:none;
	}
}

::-webkit-input-placeholder{
	color:inherit;
	opacity:1;
	transition:opacity $transition;
}
::-moz-placeholder{
	color:inherit;
	opacity:1;
	transition:opacity $transition;
}
:-ms-input-placeholder{
	color:inherit;
	opacity:1;
	transition:opacity $transition;
}
:-moz-placeholder{
	color:inherit;
	opacity:1;
	transition:opacity $transition;
}
::selection{
    background-color:$color-1;
    color:$white;
}

@mixin clear-fix{
	&:before,
	&:after{
		content:"";
		display:table;
	}
	&:after{
		clear:both;
	}
}

html,
body{
	color:$color-3;
	font-family:$font-primary;
	font-size:14px;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

body{
	&.drop--is-open{
		overflow:hidden;
		.header{
			background-color:$color-4;
			color:$white;
			.row{
				.logo{
					svg{
						fill:$white;
					}
				}
				.nav--bar{
					.bar{
						background-color:$white;
					}
				}
			}
		}
	}
	&.page--home{
		.section--main-banner{
			.row{
				.content{
					max-width:770px;
				}
			}
		}
	}
	&.page--about-us{
		.header{
			color:$white;
			.row{
				.logo{
					svg{
						fill:$white;
					}
				}
				.nav--menu{
					.list--menu{
						>.item{
							>a{
								color:$white;
								svg{
									fill:$white;
								}
							}
							.list--drop{
								background-color:$color-3;
							}
						}
					}
				}
				.nav--bar{
					.bar{
						background-color:$white;
					}
				}
			}
		}
		.section--main-banner{
			background-color:$color-4;
        	color:$white;
			.row{
				.content{
					max-width:973px;
					.title{
						margin:0;
					}
				}
			}
		}
	}
	&.page--graduate-development{
		.section--main-banner{
			.row{
				.content{
					max-width:1085px;
				}
			}
		}
	}
	&.page--tech-capabilities{
		.header{
			color:$white;
			.row{
				.logo{
					svg{
						fill:$white;
					}
				}
				.nav--menu{
					.list--menu{
						>.item{
							>a{
								color:$white;
								svg{
									fill:$white;
								}
							}
							.list--drop{
								background-color:$color-3;
							}
						}
					}
				}
				.nav--bar{
					.bar{
						background-color:$white;
					}
				}
			}
		}
		.section--main-banner{
			background-color:$color-4;
        	color:$white;
			height:auto;
			padding:calc(160px + 58px) 0 220px 0;
			@media only screen and (max-width:768px){
				padding:calc(80px + 58px) 0 80px 0;
			}
			.row{
				.content{
					max-width:956px;
					.description{
						columns:2;
						padding:0 0 0 90px;
						@media only screen and (max-width:768px){
							columns:initial;
							padding:0;
						}
					}
				}
			}
		}
	}
	&.page--contact{
		.header{
			color:$white;
			.row{
				.logo{
					svg{
						fill:$white;
					}
				}
				.nav--menu{
					.list--menu{
						>.item{
							>a{
								color:$white;
								svg{
									fill:$white;
								}
							}
							.list--drop{
								background-color:$color-3;
							}
						}
					}
				}
				.nav--bar{
					.bar{
						background-color:$white;
					}
				}
			}
		}
		.section--main-banner{
			background-color:$color-4;
        	color:$white;
			height:auto;
			padding:calc(160px + 58px) 0 449px 0;
			@media only screen and (max-width:768px){
				padding:calc(80px + 58px) 0 180px 0;
			}
			.row{
				.content{
					max-width:1002px;
				}
			}
		}
	}
	&.page--graduate-zone{
		.header{
			color:$white;
			.row{
				.logo{
					svg{
						fill:$white;
					}
				}
				.nav--menu{
					.list--menu{
						>.item{
							>a{
								color:$white;
								svg{
									fill:$white;
								}
							}
							.list--drop{
								background-color:$color-9;
							}
						}
					}
				}
				.nav--bar{
					.bar{
						background-color:$white;
					}
				}
			}
		}
		.section--main-banner{
			background-color:$color-2;
			color:$white;
			height:auto;
			padding:calc(160px + 58px) 0 469px 0;
			@media only screen and (max-width:768px){
				padding:calc(80px + 58px) 0 80px 0;
			}
			.row{
				.content{
					max-width:843px;
					.title{
						margin:0;
					}
				}
			}
		}
		.section--data{
			margin:-280px 0 -80px 0;
			@media only screen and (max-width:768px){
				margin:0;
				padding:25px 0;
			}
		}
		.list--data{
			padding:0 40px;
			@media only screen and (max-width:768px){
				padding:0;
			}
		}
	}
}

a{
	color:inherit;
	text-decoration:none;
}
address{
	font-style:normal;
}
b,
strong{
	font-weight:700;
}
button{
	appearance:none;
	background-color:transparent;
	border:none;
	cursor:pointer;
	font:inherit;
}
h1,
h2,
h3,
h4,
h5{
	font-family:$font-secondary;
	font-weight:400;
	line-height:1.2;
	overflow-wrap:break-word;
}
h1{
	font-size:88px;
	letter-spacing:-1px;
	@media only screen and (max-width:768px){
		font-size:38px;
	}
}
h2{
	font-size:44px;
	letter-spacing:-.5px;
	@media only screen and (max-width:768px){
		font-size:28px;
	}
}
h3{
	font-size:32px;
	letter-spacing:-.5px;
	@media only screen and (max-width:768px){
		font-size:24px;
	}
}
iframe{
	border:none;
	display:block;
	width:100%;
}
img{
	display:block;
	height:auto;
	max-width:100%;
}
input{
	appearance:none;
	background-color:transparent;
	border:2px solid $color-8;
	border-radius:$radius;
	color:$color-3;
	font:inherit;
	font-size:20px;
	height:64px;
	width:100%;
	padding:0 25px;
	transition:border-color $transition;
	@media only screen and (max-width:768px){
		font-size:16px;
	}
	&.error{
		border-color:$red !important;
	}
	&:focus{
		border-color:$color-1;
		&::-webkit-input-placeholder{
			opacity:.3;
		}
		&::-moz-placeholder{
			opacity:.3;
		}
		&:-ms-input-placeholder{
			opacity:.3;
		}
		&:-moz-placeholder{
			opacity:.3;
		}
	}
}
p{
	font-size:16px;
	line-height:1.5;
}
small{
	font-size:inherit;
}
svg{
	display:block;
	max-width:100%;
}
textarea{
	appearance:none;
	background-color:transparent;
	border:2px solid $color-8;
	border-radius:$radius;
	color:$color-3;
	font:inherit;
	font-size:20px;
	height:188px;
	width:100%;
	padding:25px;
	resize:none;
	transition:border-color $transition;
	@media only screen and (max-width:768px){
		font-size:16px;
	}
	&.error{
		border-color:$red !important;
	}
	&:focus{
		border-color:$color-1;
		&::-webkit-input-placeholder{
			opacity:.3;
		}
		&::-moz-placeholder{
			opacity:.3;
		}
		&:-ms-input-placeholder{
			opacity:.3;
		}
		&:-moz-placeholder{
			opacity:.3;
		}
	}
}
ul{
	list-style:none;
	@include clear-fix;
}
.arrow{
	background-color:$color-3;
	height:2px;
	width:48px;
	margin:0 0 0 10px;
	position:relative;		
	&:before,
	&:after{
		background-color:$color-3;
		content:"";
		height:2px;
		width:8px;
		position:absolute;
	}
	&:before{
		bottom:-3px;
		right:0;
		transform:rotate(-45deg);
	}
	&:after{
		right:0;
		top:-3px;
		transform:rotate(45deg);
	}
}
.btn{
	border:4px solid $color-1;
	border-radius:999px;
	display:inline-block;
	font-weight:700;
	font-size:16px;
	height:64px;
	line-height:56px;
	padding:0 32px;
	text-align:center;
	transition:background-color $transition,color $transition;
	@media only screen and (max-width:414px){
		width:100%;
	}
	&:hover{
		background-color:$color-1;
		color:$color-3;
	}
}
.cover{
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}
.container{
	height:100%;
	width: 90%;
	max-width:1320px;
	margin:auto;
	position:relative;
	@include clear-fix;
}
.overlay{
	background-color:rgba($black,.8);
	height:100%;
	width:100%;
	left:0;
	opacity:0;
	position:fixed;
	top:0;
	visibility:hidden;
	z-index:99;
	&.is--open{
		opacity:1;
		visibility:visible;
	}
}
.row{
	@include clear-fix;
}