@import 'variables';

.section--main-banner{
    height:100vh;
    @media only screen and (max-width:768px){
        height:initial;
        padding:calc(80px + 63px) 0 80px 0; /* 98px = Altura do Header */
    }
    .row{
        align-items:center;
        display:flex;
        height:100%;
        .content{
            width:100%;
            .title{
                margin:0 0 40px 0;
                @media only screen and (max-width:768px){
                    margin:0 0 25px 0;
                }
                span{
                    color:$color-1;
                }
            }
            .description{
                font-size:20px;
                @media only screen and (max-width:768px){
                    font-size:16px;
                }
            }
        }
    }
}

/* Home */

.section--explore-cloudgrads{
    @media only screen and (max-width:768px){
        background-color:$color-4;
        padding:25px 0 calc(25px + 160px) 0;
    }
    .row{
        align-items:center;
        background-color:$color-4;
        color:$white;
        display:flex;
        padding:154px 40px 246px 40px;
        @media only screen and (max-width:768px){
            flex-direction:column-reverse;
            padding:0;
        }
        .content{
            max-width:465px;
            @media only screen and (max-width:768px){
                max-width:initial;
            }
            .subtitle{
                display:block;
                font-size:16px;
                letter-spacing:-.1px;
                margin:0 0 25px 0;
            }
            .title{
                color:$color-1;
                margin:0 0 25px 0;
            }
            .description{
                margin:0 0 25px 0;
            }
        }
        .image{
            margin:0 0 0 auto;
            @media only screen and (max-width:768px){
                width:100%;
                margin:0 0 25px 0;
            }
            svg{
                height:433px;
                @media only screen and (max-width:768px){
                    height:initial;
                    width:100%;
                }
            }
        }
    }
}
.section--graduate-zone{
    background-color:$color-2;
    @media only screen and (max-width:768px){
        padding:0 0 25px 0;
    }
    .row{
        align-items:flex-start;
        display:flex;
        @media only screen and (max-width:768px){
            flex-wrap:wrap;
        }
        .image{
            margin:-100px auto 0 -40px;
            @media only screen and (max-width:768px){
                margin:-160px 0 0 0;
            }
        }
        .content{
            color:$white;
            margin:116px 0 0 0;
            max-width:509px;
            @media only screen and (max-width:768px){
                margin:25px 0 0 0;
                max-width:initial;
            }
            .title{
                color:$color-1;
                margin:0 0 25px 0;
            }
            .description{
                margin:0 0 25px 0;
            }
        }
    }
}
.section--data{
    margin:calc(-355px / 2) 0;
    position:relative;
    z-index:2;
    @media only screen and (max-width:768px){
        background-color:$color-2;
        margin:0;
        padding:0 0 25px 0;
    }
}
.section--our-method{
    @media only screen and (max-width:768px){
        padding:25px 0;
    }
    .row{
        align-items:flex-end;
        display:flex;
        @media only screen and (max-width:768px){
            flex-wrap:wrap;
        }
        .content{
            width:100%;
            margin:0 0 116px 0;
            max-width:459px;
            @media only screen and (max-width:768px){
                width:100%;
                margin:0 0 25px 0;
                max-width:initial;
            }
            .subtitle{
                color:$color-2;
                display:block;
                font-size:16px;
                letter-spacing:-.1px;
                margin:0 0 25px 0;
            }
            .title{
                color:$color-2;
                margin:0 0 25px 0;
            }
            .description{
                margin:0 0 25px 0;
            }
        }
        .image{
            margin:0 -40px -162px auto;
            position:relative;
            z-index:1;
            @media only screen and (max-width:768px){
                margin:0;
            }
        }
    }
}
.section--home-contact-us{
    background-color:$color-3;
    color:$color-1;
    padding:55px 0;
    @media only screen and (max-width:768px){
        padding:25px 0;
    }
    .row{
        align-items:center;
        display:flex;
        @media only screen and (max-width:768px){
            align-items:flex-start;
            flex-direction:column;
        }
        .title{
            margin:0 95px 0 0;
            @media only screen and (max-width:768px){
                margin:0 0 25px 0;
            }
        }
        .send--us{
            align-items:center;
            display:flex;
            font-weight:700;
            font-size:18px;
            @media only screen and (max-width:768px){
                font-size:16px;
            }
            .arrow{
                background-color:$white;
                &:before,
                &:after{
                    background-color:$white;
                }
            }
        }
    }
}

/* About Us */

.section--our-mission{
    background-color:$color-4;
    @media only screen and (max-width:768px){
        background-color:$color-6;
        padding:25px 0;
    }
    .row{
        background-color:$color-6;
        display:flex;
        margin:0 0 -120px 0;
        padding:160px 256px 170px 40px;
        @media only screen and (max-width:768px){
            flex-wrap:wrap;
            margin:0;
            padding:0;
        }
        .title{
            color:$color-2;
            width:100%;
            @media only screen and (max-width:768px){
                margin:0 0 25px 0;
            }
        }
        .description{
            font-size:20px;
            max-width:573px;
            @media only screen and (max-width:768px){
                font-size:16px;
                max-width:initial;
            }
        }
    }
}
.section--tech-leaders{
    padding:80px 0 0 0;
    @media only screen and (max-width:768px){
        padding:25px 0;
    }
    .row{
        align-items:flex-start;
        display:flex;
        @media only screen and (max-width:768px){
            flex-wrap:wrap;
        }
        .content{
            margin:200px 0 0 0;
            max-width:398px;
            @media only screen and (max-width:768px){
                margin:0 0 25px 0;
                max-width:initial;
            }
            .title{
                color:$color-2;
                margin:0 0 25px 0;
            }
        }
        .image{
            margin:0 -40px 0 auto;
            @media only screen and (max-width:768px){
                margin:0;
            }
        }
    }
}
.section--test{
    margin:calc(-384px / 2) 0;
    position:relative;
    z-index:2;
    @media only screen and (max-width:768px){
        margin:0;
    }
}
.section--our-work{
    background-color:$color-6;
    @media only screen and (max-width:768px){
        margin:-125px 0 0 0;
        padding:150px 0 25px 0;
    }
    .row{
        align-items:flex-end;
        display:flex;
        @media only screen and (max-width:768px){
            flex-wrap:wrap;
            flex-direction:column-reverse;
        }
        .image{
            margin:0 auto -160px -40px;
            position:relative;
            z-index:1;
            @media only screen and (max-width:768px){
                margin:0;
            }
        }
        .content{
            margin:0 0 156px 0;
            max-width:518px;
            padding:0 93px 0 0;
            @media only screen and (max-width:768px){
                max-width:initial;
                margin:0 0 25px 0;
                padding:0;
            }
            .title{
                color:$color-2;
                margin:0 0 25px 0;
            }
            .description{
                margin:0 0 25px 0;
            }
        }
    }
}
.section--meet-our-leadership-team{
    background-color:$color-3;
    color:$white;
    padding:80px 0 40px 0;
    @media only screen and (max-width:768px){
        padding:25px 0;
    }
    .row{
        display:flex;
        .content{
            margin:0 0 0 auto;
            max-width:518px;
            @media only screen and (max-width:768px){
                max-width:initial;
            }
            .title{
                color:$color-1;
                margin:0 0 25px 0;
            }
            .description{
                font-size:20px;
                margin:0 0 25px 0;
                @media only screen and (max-width:768px){
                    font-size:16px;
                }
            }
            .leadership--team{
                align-items:center;
                color:$color-1;
                display:flex;
                font-weight:700;
                font-size:18px;
                @media only screen and (max-width:768px){
                    font-size:16px;
                }
                .arrow{
                    background-color:$color-1;
                    &:before,
                    &:after{
                        background-color:$color-1;
                    }
                }
            }
        }
    }
}

/* Graduate Development */

.section--how-we-build{
    background-color:$color-2;
    padding:160px 0 0 0;
    @media only screen and (max-width:768px){
        padding:25px 0 0 0;
    }
    .title{
        color:$color-1;
        margin:0 0 85px 0;
        max-width:539px;
        @media only screen and (max-width:768px){
            margin:0 0 25px 0;
            max-width:initial;
        }
    }
    .row{
        background-color:$white;
        box-shadow:$box-shadow;
        margin:0 0 -100px 0;
        padding:80px;
        position:relative;
        z-index:1;
        @media only screen and (max-width:768px){
            padding:25px;
        }
    }
}
.section--technical-capabilities{
    @media only screen and (max-width:768px){
        padding:125px 0 25px 0;
    }
    .row{
        align-items:flex-end;
        display:flex;
        @media only screen and (max-width:768px){
            flex-wrap:wrap;
        }
        .content{
            margin:0 0 166px 0;
            max-width:524px;
            @media only screen and (max-width:768px){
                margin:0 0 25px 0;
                max-width:initial;
            }
            .title{
                margin:0 0 25px 0;
            }
            .description{
                margin:0 0 25px 0;
            }
        }
        .image{
            margin:0 -40px -160px auto;
            @media only screen and (max-width:768px){
                margin:0;
            }
        }
    }
}
.section--get-in-touch{
    background-color:$color-3;
    color:$color-1;
    padding:80px 0;
    @media only screen and (max-width:768px){
        padding:25px 0;
    }
    .row{
        display:flex;
        .content{
            max-width:524px;
            @media only screen and (max-width:768px){
                max-width:initial;
            }
            .title{
                margin:0 0 40px 0;
                @media only screen and (max-width:768px){
                    margin:0 0 25px 0;
                }
            }
            .contact--us{
                align-items:center;
                display:flex;
                .arrow{
                    background-color:$color-1;
                    &:before,
                    &:after{
                        background-color:$color-1;
                    }
                }
            }
        }
    }
}

/* Tech Capabilities */

.section--technical-capability{
    @media only screen and (max-width:768px){
        padding:25px 0;
    }
    .row{
        align-items:flex-start;
        display:flex;
        @media only screen and (max-width:768px){
            flex-wrap:wrap;
        }
        .image{
            margin:-140px auto -180px -98px;
            position:relative;
            z-index:1;
            @media only screen and (max-width:768px){
                margin:0;
            }
        }
        .content{
            margin:160px 0 0 0;
            max-width:518px;
            padding:0 119px 0 0;
            @media only screen and (max-width:768px){
                margin:25px 0 0 0;
                max-width:initial;
                padding:0;
            }
            .title{
                margin:0 0 25px 0;
            }
            .description{
                font-size:20px;
                @media only screen and (max-width:768px){
                    font-size:16px;
                }
            }
        }
    }
}
.section--onboarding-induction{
    .row{
        align-items:flex-end;
        background-color:$color-6;
        display:flex;
        padding:40px;
        @media only screen and (max-width:768px){
            flex-wrap:wrap;
            padding:25px;
        }
        .content{
            margin:0 0 164px 50px;
            max-width:403px;
            @media only screen and (max-width:768px){
                margin:0 0 25px 0;
                max-width:initial;
            }
            .title{
                margin:0 0 25px 0;
            }
            .description{
                font-size:20px;
                @media only screen and (max-width:768px){
                    font-size:16px;
                }
            }
        }
        .image{
            margin:0 0 0 auto;
        }
    }
}
.section--commercial-awareness{
    @media only screen and (max-width:768px){
        padding:25px 0;
    }
    .row{
        align-items:center;
        display:flex;
        @media only screen and (max-width:768px){
            flex-direction:column-reverse;
            flex-wrap:wrap;
        }
        .image{
            margin:-80px 0 -80px -40px;
            @media only screen and (max-width:768px){
                margin:0;
            }
        }
        .content{
            margin:0 0 0 auto;
            max-width:518px;
            padding:0 110px 0 0;
            @media only screen and (max-width:768px){
                margin:0 0 25px 0;
                padding:0;
            }
            .title{
                margin:0 0 25px 0;
            }
            .description{
                font-size:20px;
                @media only screen and (max-width:768px){
                    font-size:16px;
                }
            }
        }
    }
}
.section--microsoft-azure{
    background-color:$color-3;
    color:$white;
    padding:180px 0 80px 0;
    @media only screen and (max-width:768px){
        padding:25px 0;
    }
    .row{
        align-items:center;
        display:flex;
        justify-content:space-between;
        @media only screen and (max-width:768px){
            flex-wrap:wrap;
            justify-content:center;
        }
        .image{
            @media only screen and (max-width:768px){
                margin:0 0 25px 0;
            }
            svg{
                fill:$white;
                height:74px;
                @media only screen and (max-width:768px){
                    height:43px;
                }
            }
        }
        .description{
            font-size:20px;
            max-width:507px;
            @media only screen and (max-width:768px){
                font-size:16px;
                max-width:initial;
            }
        }
    }
}

/* Contact */

.section--contact{
    .row{
        background-color:$white;
        box-shadow:$box-shadow;
        display:flex;
        margin:-289px 0 -179px 0;
        padding:148px 161px;
        @media only screen and (max-width:768px){
            flex-wrap:wrap;
            margin:-100px 0;
            padding:50px 25px;
        }
        .content{
            max-width:325px;
            @media only screen and (max-width:768px){
                width:100%;
                margin:0 0 50px 0;
                max-width:initial;
            }
            .title{
                color:$color-2;
                margin:0 0 50px 0;
                @media only screen and (max-width:768px){
                    margin:0 0 25px 0;
                }
            }
            .address{
                font-size:20px;
                line-height:1.5;
                margin:0 0 50px 0;
                @media only screen and (max-width:768px){
                    font-size:16px;
                    margin:0 0 25px 0;
                }
            }
            .list--contact{
                margin:0 0 50px 0;
                @media only screen and (max-width:768px){
                    margin:0 0 25px 0;
                }
                .item{
                    font-size:20px;
                    line-height:1.5;
                    @media only screen and (max-width:768px){
                        font-size:16px;
                    }
                    a{
                        border-bottom:1px solid transparent;
                        display:inline-block;
                        transition:border-color $transition;
                        &:hover{
                            border-color:$color-3;
                        }
                    }
                }
            }
            .list--social{
                .item{
                    &:hover{
                        a{
                            svg{
                                fill:$color-1;
                                transition:fill $transition;
                            }
                        }
                    }
                    a{
                        svg{
                            fill:$color-2;
                            height:26px;
                        }
                    }
                }
            }
        }
        .form{
            margin:0 0 0 auto;
            min-width:524px;
            @media only screen and (max-width:768px){
                width:100%;
                min-width:initial;
            }
            .wrapper{
                margin:0 0 25px 0;
                &:last-of-type{
                    margin:0;
                }
                .label{
                    color:$color-2;
                    display:block;
                    font-weight:700;
                    font-size:16px;
                    letter-spacing:-.1px;
                    margin:0 0 10px 0;
                }
            }
        }
    }
}
.section--map{
    iframe{
        height:654px;
    }
}

/* Graduate Zone */

.section--we-develop{
    padding:0 0 118px 0;
    @media only screen and (max-width:768px){
        padding:25px 0;
    }
    .row{
        background-color:$color-6;
        margin:calc(-618px / 2) 0 0 0;
        padding:160px 432px 240px 40px;
        @media only screen and (max-width:768px){
            margin:0;
            padding:50px 25px;
        }
        .title{
            color:$color-2;
            margin:0 0 40px 0;
            @media only screen and (max-width:768px){
                margin:0 0 25px 0;
            }
        }
        .description{
            columns:2;
            padding:0 0 0 90px;
            @media only screen and (max-width:768px){
                columns:initial;
                padding:0;
            }
        }
    }
}
.section--apply-now{
    @media only screen and (max-width:768px){
        padding:25px 0;
    }
    .row{
        align-items:flex-end;
        display:flex;
        @media only screen and (max-width:768px){
            flex-direction:column-reverse;
            flex-wrap:wrap;
        }
        .image{
            margin:0 0 -160px -40px;
            position:relative;
            z-index:1;
            @media only screen and (max-width:768px){
                margin:0;
            }
        }
        .content{
            margin:0 0 156px auto;
            max-width:518px;
            padding:0 73px 0 0;
            @media only screen and (max-width:768px){
                max-width:initial;
                margin:0 0 25px 0;
                padding:0;
            }
            .title{
                color:$color-2;
                margin:0 0 25px 0;
            }
            .description{
                margin:0 0 25px 0;
            }
        }
    }
}
.section--meet-our-cloudgrads{
    background-color:$color-6;
    padding:120px 0 160px 0;
    @media only screen and (max-width:768px){
        padding:25px 0;
    }
    .title{
        color:$color-2;
        margin:0 0 120px auto;
        max-width:436px;
        @media only screen and (max-width:768px){
            margin:0 0 25px 0;
        }
    }
}
.section--become-a-cloudgrad{
    background-color:$color-3;
    color:$white;
    padding:120px 0 80px 0;
    @media only screen and (max-width:768px){
        padding:25px 0;
    }
    .row{
        display:flex;
        justify-content:space-between;
        @media only screen and (max-width:768px){
            flex-wrap:wrap;
            justify-content:initial;
        }
        .title{
            color:$color-1;
            @media only screen and (max-width:768px){
                margin:0 0 25px 0;
            }
        }
        .content{
            max-width:499px;
            @media only screen and (max-width:768px){
                max-width:initial;
            }
            .description{
                font-size:20px;
                margin:0 0 25px 0;
                @media only screen and (max-width:768px){
                    font-size:16px;
                }
            }
            .apply--now{
                align-items:center;
                color:$color-1;
                display:flex;
                font-weight:700;
                font-size:18px;
                @media only screen and (max-width:768px){
                    font-size:16px;
                }
                .arrow{
                    background-color:$color-1;
                    &:before,
                    &:after{
                        background-color:$color-1;
                    }
                }
            }
        }
    }
}

/* Team */

.section--mentorship-team{
    background-color:$color-6;
    padding:120px 0 0 0;
    @media only screen and (max-width:768px){
        padding:25px 0;
    }
    .row{
        align-items:center;
        display:flex;
        margin:0 0 120px 0;
        padding:0 50px;
        @media only screen and (max-width:768px){
            flex-wrap:wrap;
        }
        .title{
            color:$color-2;
            @media only screen and (max-width:768px){
                margin:0 0 25px 0;
            }
        }
        .description{
            font-size:20px;
            width:100%;
            padding:0 120px 0 80px;
            @media only screen and (max-width:768px){
                font-size:16px;
            }
        }
    }
    .team{
        background-color:$white;
        box-shadow:$box-shadow;
        margin:0 0 -120px 0;
        padding:120px 40px;
        .subtitle{
            color:$color-2;
            margin:0 0 40px 0;
        }
    }
}
.section--business-operations-team{
    padding:calc(120px + 120px) 0 120px 0;
    .team{
        .subtitle{
            color:$color-2;
            margin:0 0 40px 0;
        }
    }
}

/* Partnerships */

.section--partners{
    background-color:$color-6;
    padding:0 0 120px 0;
    @media only screen and (max-width:768px){
        padding:25px 0;
    }
    .content{
        background-color:$white;
        box-shadow:$box-shadow;
        margin:-321px 0 120px 0;
        padding:80px 40px;
        @media only screen and (max-width:768px){
            margin:0 0 25px 0;
            padding:50px 25px;
        }
        .title{
            color:$color-2;
            margin:0 0 120px 0;
            @media only screen and (max-width:768px){
                margin:0 0 25px 0;
            }
        }
    }
    .row{
        display:flex;
        padding:0 50px;
        @media only screen and (max-width:768px){
            flex-wrap:wrap;
            padding:0;
        }
        .title{
            color:$color-2;
            @media only screen and (max-width:768px){
                margin:0 0 25px 0;
            }
        }
        .description{
            font-size:20px;
            width:100%;
            padding:0 246px 0 80px;
            @media only screen and (max-width:768px){
                font-size:16px;
                padding:0;
            }
        }
    }
}
.section--universities{
    padding:120px 0;
    @media only screen and (max-width:768px){
        padding:25px 0;
    }
}

/* Data Engineering */

.section--data-engineering{
    @media only screen and (max-width:768px){
        padding:25px 0;
    }
    .row{
        align-items:center;
        display:flex;
        @media only screen and (max-width:768px){
            flex-wrap:wrap;
        }
        .image{
            margin:-100px auto -100px -40px;
            position:relative;
            z-index:1;
            @media only screen and (max-width:768px){
                margin:0 0 25px 0;
            }
        }
        .content{
            max-width:524px;
            @media only screen and (max-width:768px){
                max-width:initial;
            }
            .description{
                margin:0 0 25px 0;
                p{
                    font-size:20px;
                    margin:0 0 15px 0;
                    &:last-of-type{
                        margin:0;
                    }
                    @media only screen and (max-width:768px){
                        font-size:16px;
                    }
                }
            }
        }
    }
}

/* Data Science */

.section--data-science{
    background-color:$color-6;
    @media only screen and (max-width:768px){
        padding:25px 0;
    }
    .row{
        align-items:center;
        display:flex;
        @media only screen and (max-width:768px){
            flex-wrap:wrap;
        }
        .image{
            margin:-100px auto -100px -40px;
            position:relative;
            z-index:1;
            @media only screen and (max-width:768px){
                margin:0 0 25px 0;
            }
        }
        .content{
            max-width:524px;
            @media only screen and (max-width:768px){
                max-width:initial;
            }
            .description{
                margin:0 0 25px 0;
                p{
                    font-size:20px;
                    margin:0 0 15px 0;
                    &:last-of-type{
                        margin:0;
                    }
                    @media only screen and (max-width:768px){
                        font-size:16px;
                    }
                }
            }
        }
    }
}

/* Data Operations */

.section--data-operations{
    @media only screen and (max-width:768px){
        padding:25px 0;
    }
    .row{
        align-items:center;
        display:flex;
        @media only screen and (max-width:768px){
            flex-wrap:wrap;
        }
        .image{
            margin:-100px auto -100px -40px;
            position:relative;
            z-index:1;
            @media only screen and (max-width:768px){
                margin:0 0 25px 0;
            }
        }
        .content{
            max-width:524px;
            @media only screen and (max-width:768px){
                max-width:initial;
            }
            .description{
                margin:0 0 25px 0;
                p{
                    font-size:20px;
                    margin:0 0 15px 0;
                    &:last-of-type{
                        margin:0;
                    }
                    @media only screen and (max-width:768px){
                        font-size:16px;
                    }
                }
            }
        }
    }
}

/* Programme Applications */

.section--programme-applications{
    @media only screen and (max-width:768px){
        padding:25px 0;
    }
    &:after{
        background-color:$color-4;
        content:"";
        display:block;
        width:100%;
        height:240px;
        @media only screen and (max-width:768px){
            display:none;
        }
    }
    .content{
        background-color:$white;
        box-shadow:$box-shadow;
        margin:-325px 0 -160px 0;
        padding:120px 40px;
        position:relative;
        z-index:1;
        @media only screen and (max-width:768px){
            box-shadow:initial;
            margin:0;
            padding:0;
        }
        .wrapper{
            margin:0 0 80px 0;
            @media only screen and (max-width:768px){
                margin:0 0 25px 0;
            }
            &:last-of-type{
                margin:0;
            }
            .title{
                color:$color-2;
                margin:0 0 25px 0;
            }
            .label--radio{
                margin:0 0 15px 0;
                &:last-of-type{
                    margin:0;
                }
            }
            .row{
                display:flex;
                flex-wrap:wrap;
                margin:-40px;
                @media only screen and (max-width:768px){
                    margin:0;
                }
                .column{
                    width:calc(100% / 2);
                    padding:40px;
                    @media only screen and (max-width:768px){
                        width:100%;
                        margin:0 0 15px 0;
                        padding:0;
                        &:last-of-type{
                            margin:0;
                        }
                    }
                    .wrapper--secondary{
                        margin:0 0 25px 0;
                        &:last-of-type{
                            margin:0;
                        }
                        .label{
                            color:$color-2;
                            display:block;
                            font-size:16px;
                            font-weight:700;
                            letter-spacing:-.1px;
                            margin:0 0 10px 0;
                        }
                    }
                }
            }
            .content-description{
                .description{
                    margin:0 0 40px 0;
                    @media only screen and (max-width:768px){
                        margin:0 0 25px 0;
                    }
                    p{
                        margin:0 0 15px 0;
                        &:last-of-type{
                            margin:0;
                        }
                    }
                }
                .download--job{
                    align-items:center;
                    color:$color-2;
                    display:flex;
                    font-weight:700;
                    font-size:18px;
                    width:max-content;
                    @media only screen and (max-width:768px){
                        font-size:16px;
                        margin:0 0 35px 0;
                    }
                    .arrow{
                        background-color:$color-2;
                        &:before,
                        &:after{
                            background-color:$color-2;
                        }
                    }
                }
            }
        }
    }
}

/* News */

.section--news{
    padding:0 0 120px 0;
    @media only screen and (max-width:768px){
        padding:25px 0;
    }
    .row{
        align-items:center;
        display:flex;
        margin:0 0 80px 0;
        @media only screen and (max-width:768px){
            flex-wrap:wrap;
            margin:0 0 25px 0;
        }
        .image{
            margin:-80px 0 0 0;
            @media only screen and (max-width:768px){
                margin:0 0 25px 0;
            }
        }
        .content{
            margin:0 120px 0 auto;
            max-width:402px;
            @media only screen and (max-width:768px){
                margin:0;
                max-width:initial;
            }
            .title{
                color:$color-2;
                margin:0 0 25px 0;
            }
            .description{
                margin:0 0 25px 0;
            }
            .read--more{
                align-items:center;
                color:$color-2;
                display:flex;
                font-weight:700;
                font-size:18px;
                .arrow{
                    background-color:$color-2;
                    &:before,
                    &:after{
                        background-color:$color-2;
                    }
                }
            }
        }
    }
}

/* News Post */

.section--news-post{
    padding:calc(120px + 98px) 0 120px 0;
    @media only screen and (max-width:768px){
        padding:calc(25px + 63px) 0 25px 0;
    }
    .post--breadcrumb{
        color:$color-2;
        display:block;
        font-weight:700;
        font-size:16px;
        letter-spacing:-.1px;
        margin:0 0 25px 0;
    }
    .post--title{
        margin:0 0 40px 0;
        @media only screen and (max-width:768px){
            margin:0 0 25px 0;
        }
    }
    .post--name{
        display:block;
        font-size:16px;
        letter-spacing:-.4px;
        margin:0 0 40px 0;
        @media only screen and (max-width:768px){
            margin:0 0 25px 0;
        }
    }
    .post--image{
        display:block;
        margin:0 0 80px 0;
        @media only screen and (max-width:768px){
            margin:0 0 25px 0;
        }
    }
    .post--content{
        margin:auto;
        max-width:848px;
        p{
            font-size:20px;
            margin:0 0 15px 0;
            @media only screen and (max-width:768px){
                font-size:16px;
            }
            &:last-of-type{
                margin:0;
            }
        }
        .next--article{
            align-items:center;
            color:$color-2;
            display:flex;
            font-weight:700;
            font-size:18px;
            justify-content:flex-end;
            margin:120px 0 0 0;
            @media only screen and (max-width:768px){
                font-size:16px;
                justify-content:flex-start;
                margin:25px 0 0 0;
            }
            .arrow{
                background-color:$color-2;
                &:before,
                &:after{
                    background-color:$color-2;
                }
            }
        }
    }
}