.animated{
	animation-duration:2.5s;
	animation-fill-mode:both;
}
.animated-2{
	animation-duration:2.5s;
	animation-fill-mode:both;
}
@-webkit-keyframes fadein{
	from{
		opacity:0;
	}
	to{
		opacity:1;
	}
}
@keyframes fadein{
	from{
		opacity:0;
	}
	to{
		opacity:1;
	}
}
.fadein{
	animation-name:fadein;
}
@-webkit-keyframes fadeout{
	from{
		opacity:1;
	}
	to{
		opacity:0;
	}
}
@keyframes fadeout{
	from{
		opacity:1;
	}
	to{
		opacity:0;
	}
}
.fadeout{
	animation-name:fadeout;
}
@-webkit-keyframes fadeinleft{
	from{
		opacity:0;
		transform:translate3d(-50px,0,0);
	}
	to{
		opacity:1;
		transform:translate3d(0,0,0);
	}
}
@keyframes fadeinleft{
	from{
		opacity:0;
		transform:translate3d(-50px,0,0);
	}
	to{
		opacity:1;
		transform:translate3d(0,0,0);
	}
}
.fadeinleft{
	animation-name:fadeinleft;
}
@-webkit-keyframes fadeinright{
	from{
		opacity:0;
		transform:translate3d(50px,0,0);
	}
	to{
		opacity:1;
		transform:translate3d(0,0,0);
	}
}
@keyframes fadeinright{
	from{
		opacity:0;
		transform:translate3d(50px,0,0);
	}
	to{
		opacity:1;
		transform:translate3d(0,0,0);
	}
}
.fadeinright{
	animation-name:fadeinright;
}
@-webkit-keyframes fadeinup{
	from{
		opacity:0;
		transform:translate3d(0,50px,0);
	}
	to{
		opacity:1;
		transform:translate3d(0,0,0);
	}
}
@keyframes fadeinup{
	from{
		opacity:0;
		transform:translate3d(0,50px,0);
	}
	to{
		opacity:1;
		transform:translate3d(0,0,0);
	}
}
.fadeinup{
	animation-name:fadeinup;
}
@-webkit-keyframes fadeindown{
	from{
		opacity:0;
		transform:translate3d(0,-50px,0);
	}
	to{
		opacity:1;
		transform:translate3d(0,0,0);
	}
}
@keyframes fadeindown{
	from{
		opacity:0;
		transform:translate3d(0,-50px,0);
	}
	to{
		opacity:1;
		transform:translate3d(0,0,0);
	}
}
.fadeindown{
	animation-name:fadeindown;
}
@keyframes fadeinupcontent{
	from{
		opacity:0;
		transform:translate3d(-50%,50px,0);
	}
	to{
		opacity:1;
		transform:translate3d(-50%,0,0);
	}
}
.fadeinupcontent{
	animation-name:fadeinupcontent;
}
@-webkit-keyframes slideinup{
	from{
		transform:translate3d(0,100%,0);
		visibility:visible;
	}
	to{
		transform:translate3d(0,0,0);
	}
}
@keyframes slideinup{
	from{
		transform:translate3d(0,100%,0);
		visibility:visible;
	}

	to{
		transform:translate3d(0,0,0);
	}
}
.slideinup{
	animation-name:slideinup;
}